<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeApp"
        tools:targetApi="31">
        <activity
            android:name=".Practical_Subject_Activity"
            android:exported="false"
            android:parentActivityName=".Practical_Semester"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Practical_Semester"
            android:exported="false"
            android:parentActivityName=".Practical_Course"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Practical_Course"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Subjects_Activity"
            android:exported="false"
            android:parentActivityName=".Semester_Activity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Daily_Task_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ChatBot_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Notice_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Practical_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Attendance_Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Semester_Activity"
            android:exported="false"
            android:parentActivityName=".BSc_IT_CS"
            android:theme="@style/action.bar" />
        <activity
            android:name=".BSc_IT_CS"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Report_a_Complaint"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Help_Center"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Suggestion"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Event"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Theme"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".About_faclity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".logout"
            android:exported="false"
            android:parentActivityName=".more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".about"
            android:exported="false"
            android:parentActivityName=".more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".pravacy_policy"
            android:exported="false"
            android:parentActivityName=".more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Terms_and_condition"
            android:exported="false"
            android:parentActivityName=".more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".safety_tips"
            android:exported="false"
            android:parentActivityName=".more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".more"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>