<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.BSc_IT_CS"
            android:exported="false" />
        <activity
            android:name=".Report_a_Complaint"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.Help_Center"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Suggestion"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.Event"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Theme"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.About_faclity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.logout"
            android:exported="false"
            android:parentActivityName=".ui.more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.about"
            android:exported="false"
            android:parentActivityName=".ui.more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.pravacy_policy"
            android:exported="false"
            android:parentActivityName=".ui.more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".Terms_and_condition"
            android:exported="false"
            android:parentActivityName=".ui.more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".safety_tips"
            android:exported="false"
            android:parentActivityName=".ui.more"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.more"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/action.bar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>